<!DOCTYPE html>
<html>
    <head>
        <title style="font-size:50px">{% block title %}{% endblock %} - Cyber Essentials</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--  <link rel="icon" type="image/png" href="/favicon16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/favicon32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon96x96.png" sizes="96x96">-->

    </head>

    <body>

       <img id="logo" src="{{ url_for('static', filename='BITSecurityHorizontal.png') }}">

        <nav>

            <h1 style="font-size:38px;">Cyber Essentials</h1>
            <ul>
                {% if g.user %}
                    <li><span style="background: #fbfbfb; border-radius: 3px; height: 14px; margin: 0px 5px ">{{ g.user['username'] }}</span>
                    <li><a style="background: #E03A5C; border-radius: 3px; height: 14px; width: 60px; color: white;" href="{{ url_for('auth.logout') }}">Log Out</a>
                {% else %}
                    <li><a style="background: #E03A5C; border-radius: 3px; height: 14px; width: 47px; color: white;" href="{{ url_for('auth.login') }}">Log In</a>
                {% endif %}
            </ul>
        </nav>

        <section class="content">
            <header>
                {% block header %}{% endblock %}
            </header>
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% block content %}{% endblock %}
        </section>
    </body>
</html>